In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/data/cookie_cats.csv')

In [4]:
df.head(1)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [6]:
# did the player come back and play 1 day after install
df["retention_1"].value_counts()

False    50036
True     40153
Name: retention_1, dtype: int64

In [7]:
# did the player come back and play 7 days after install
df["retention_7"].value_counts()

False    73408
True     16781
Name: retention_7, dtype: int64

In [8]:
df["sum_gamerounds"].value_counts()

1       5538
2       4606
0       3994
3       3958
4       3629
        ...
611        1
739        1
803        1
1187       1
1215       1
Name: sum_gamerounds, Length: 942, dtype: int64

In [9]:
df.describe().T

                  count          mean  ...        75%        max
userid          90189.0  4.998412e+06  ...  7496452.0  9999861.0
sum_gamerounds  90189.0  5.187246e+01  ...       51.0    49854.0

[2 rows x 8 columns]

In [10]:
len(df[df["sum_gamerounds"] >= 16])

46417