In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.linear_model import LogisticRegression, Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn_pandas import DataFrameMapper

import tensorflow as tf
from tensorflow import keras

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.utils import to_categorical

In [3]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/data/changed_data.csv')

In [4]:
df.head(1)

   Unnamed: 0             business_id  ... nineteenth_word twentieth_word
0           0  9yKzy9PApeiPPOUJEtnvkg  ...         perfect          which

[1 rows x 30 columns]

In [5]:
df = df.fillna("n/a")

In [6]:
df = df.drop(df.columns[25:],axis=1)

In [7]:
target = "stars"
X = df.drop(target, axis=1)
y = df[target]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
mapper = DataFrameMapper([
    (["cool"], StandardScaler()),
    (["useful"], StandardScaler()),
    (["funny"], StandardScaler()),
    ("first_word", LabelBinarizer()),
    ("second_word", LabelBinarizer()),
    ("third_word", LabelBinarizer()),
    ("fourth_word", LabelBinarizer()),
    ("fifth_word", LabelBinarizer()),
    ("sixth_word", LabelBinarizer()),
    ("seventh_word", LabelBinarizer()),
    ("eighth_word", LabelBinarizer()),
#    ("ninth_word", LabelBinarizer()),
#    ("tenth_word", LabelBinarizer()),
#    ("elevnth_word", LabelBinarizer()),
#    ("twelfth_word", LabelBinarizer()),
#    ("thirteenth_word", LabelBinarizer()),
#    ("fourteenth_word", LabelBinarizer()),
#    ("fifteenth_word", LabelBinarizer())
],df_out=True)

In [10]:
Z_train = mapper.fit_transform(X_train)
Z_test = mapper.transform(X_test)

In [14]:
model = LogisticRegression().fit(Z_train,y_train)
print("Logistic Regression train score is " + str(model.score(Z_train,y_train)))
print("Logistic Regression test score is " + str(model.score(Z_test,y_test)))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression train score is 0.9718666666666667
Logistic Regression test score is 0.3852

In [15]:
model = RandomForestClassifier().fit(Z_train,y_train)
print("Random Forest Classifier train score is " + str(model.score(Z_train,y_train)))
print("Random Forest Classifier test score is " + str(model.score(Z_test,y_test)))

Random Forest Classifier train score is 1.0
Random Forest Classifier test score is 0.36

In [16]:
model = DecisionTreeClassifier().fit(Z_train,y_train)
print("Decision Tree Classifier train score is " + str(model.score(Z_train,y_train)))
print("Decision Tree Classifier test score is " + str(model.score(Z_test,y_test)))

Decision Tree Classifier train score is 1.0
Decision Tree Classifier test score is 0.3412

In [17]:
model = AdaBoostClassifier().fit(Z_train,y_train)
print("AdaBoost Classifier train score is " + str(model.score(Z_train,y_train)))
print("AdaBoost Classifier test score is " + str(model.score(Z_test,y_test)))

AdaBoost Classifier train score is 0.3868
AdaBoost Classifier test score is 0.376