In [1]:
import pandas as pd

import csv
import requests

In [2]:
# Intraday stock info

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
# removed my apikey for security
CSV_URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=AAPL&interval=15min&slice=year1month1&apikey=demo'

with requests.Session() as s:
    download = s.get(CSV_URL)
    decoded_content = download.content.decode('utf-8')
    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    my_list = list(cr)
    df = pd.DataFrame(my_list[1:], columns= my_list[0])

In [3]:
df

                     time      open    high     low   close volume
0     2021-07-07 20:00:00    144.69   144.8  144.69  144.76  37341
1     2021-07-07 19:45:00  144.6899  144.74  144.66  144.71  11395
2     2021-07-07 19:30:00    144.67   144.7  144.65  144.69  22555
3     2021-07-07 19:15:00    144.71  144.75  144.67  144.67  20409
4     2021-07-07 19:00:00    144.66  144.72  144.65  144.72  22323
...                   ...       ...     ...     ...     ...    ...
1333  2021-06-08 05:15:00    126.27  126.32  126.22  126.32   5402
1334  2021-06-08 05:00:00     126.3   126.3  126.25   126.3  10941
1335  2021-06-08 04:45:00    126.23   126.3  126.23   126.3   4672
1336  2021-06-08 04:30:00    126.05  126.17  126.05  126.17   5568
1337  2021-06-08 04:15:00     126.1  126.16  125.96  126.06  20926

[1338 rows x 6 columns]

In [4]:
# limited by daily free calls
for i in range(2, 6):
    CSV_URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=AAPL&interval=15min&slice=year1month' + str(i) + '&apikey=demo'
    
    with requests.Session() as s:
        download = s.get(CSV_URL)
        decoded_content = download.content.decode('utf-8')
        cr = csv.reader(decoded_content.splitlines(), delimiter=',')
        my_list1 = list(cr)
        df1 = pd.DataFrame(my_list1[1:], columns= my_list[0])
        df = pd.concat([df, df1])

In [5]:
df

,time,open,high,low,close,volume
0,2021-07-07 20:00:00,144.69,144.8,144.69,144.76,37341
1,2021-07-07 19:45:00,144.6899,144.74,144.66,144.71,11395
2,2021-07-07 19:30:00,144.67,144.7,144.65,144.69,22555
3,2021-07-07 19:15:00,144.71,144.75,144.67,144.67,20409
4,2021-07-07 19:00:00,144.66,144.72,144.65,144.72,22323
...,...,...,...,...,...,...
1339,2021-02-08 05:15:00,136.71900253,136.868749521,136.71900253,136.768918194,7938
1340,2021-02-08 05:00:00,136.669086867,136.748951928,136.669086867,136.709019397,3699
1341,2021-02-08 04:45:00,136.569255539,136.669086867,136.509356743,136.669086867,10193
1342,2021-02-08 04:30:00,136.798867592,136.798867592,136.599204938,136.639137468,11513
1343,2021-02-08 04:15:00,136.449457947,136.868749521,136.269761558,136.818833857,62334

In [6]:
df.to_csv("data/aapl.csv")

In [7]:
df = pd.read_csv("data/aapl.csv")

In [8]:
df

,Unnamed: 0,time,open,high,low,close,volume
0,0,2021-07-07 20:00:00,144.690000,144.800000,144.690000,144.760000,37341
1,1,2021-07-07 19:45:00,144.689900,144.740000,144.660000,144.710000,11395
2,2,2021-07-07 19:30:00,144.670000,144.700000,144.650000,144.690000,22555
3,3,2021-07-07 19:15:00,144.710000,144.750000,144.670000,144.670000,20409
4,4,2021-07-07 19:00:00,144.660000,144.720000,144.650000,144.720000,22323
...,...,...,...,...,...,...,...
6641,1339,2021-02-08 05:15:00,136.719003,136.868750,136.719003,136.768918,7938
6642,1340,2021-02-08 05:00:00,136.669087,136.748952,136.669087,136.709019,3699
6643,1341,2021-02-08 04:45:00,136.569256,136.669087,136.509357,136.669087,10193
6644,1342,2021-02-08 04:30:00,136.798868,136.798868,136.599205,136.639137,11513
6645,1343,2021-02-08 04:15:00,136.449458,136.868750,136.269762,136.818834,62334

In [9]:
del df["Unnamed: 0"]

In [10]:
## start here for daily updates

In [ ]:
for i in range(2, 6):
    CSV_URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=AAPL&interval=15min&slice=year1month' + str(i) + '&apikey=demo'
    
    with requests.Session() as s:
        download = s.get(CSV_URL)
        decoded_content = download.content.decode('utf-8')
        cr = csv.reader(decoded_content.splitlines(), delimiter=',')
        my_list1 = list(cr)
        df1 = pd.DataFrame(my_list1[1:], columns= my_list[0])
        df = pd.concat([df, df1])