In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/data/creditcard.csv')

In [ ]:
df.head(2)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0

[2 rows x 31 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.describe().T

           count          mean  ...            75%            max
Time    284807.0  9.481386e+04  ...  139320.500000  172792.000000
V1      284807.0  3.919560e-15  ...       1.315642       2.454930
V2      284807.0  5.688174e-16  ...       0.803724      22.057729
V3      284807.0 -8.769071e-15  ...       1.027196       9.382558
V4      284807.0  2.782312e-15  ...       0.743341      16.875344
V5      284807.0 -1.552563e-15  ...       0.611926      34.801666
V6      284807.0  2.010663e-15  ...       0.398565      73.301626
V7      284807.0 -1.694249e-15  ...       0.570436     120.589494
V8      284807.0 -1.927028e-16  ...       0.327346      20.007208
V9      284807.0 -3.137024e-15  ...       0.597139      15.594995
V10     284807.0  1.768627e-15  ...       0.453923      23.745136
V11     284807.0  9.170318e-16  ...       0.739593      12.018913
V12     284807.0 -1.810658e-15  ...       0.618238       7.848392
V13     284807.0  1.693438e-15  ...       0.662505       7.126883
V14     284807.0  1.479045e-15  ...       0.493150      10.526766
V15     284807.0  3.482336e-15  ...       0.648821       8.877742
V16     284807.0  1.392007e-15  ...       0.523296      17.315112
V17     284807.0 -7.528491e-16  ...       0.399675       9.253526
V18     284807.0  4.328772e-16  ...       0.500807       5.041069
V19     284807.0  9.049732e-16  ...       0.458949       5.591971
V20     284807.0  5.085503e-16  ...       0.133041      39.420904
V21     284807.0  1.537294e-16  ...       0.186377      27.202839
V22     284807.0  7.959909e-16  ...       0.528554      10.503090
V23     284807.0  5.367590e-16  ...       0.147642      22.528412
V24     284807.0  4.458112e-15  ...       0.439527       4.584549
V25     284807.0  1.453003e-15  ...       0.350716       7.519589
V26     284807.0  1.699104e-15  ...       0.240952       3.517346
V27     284807.0 -3.660161e-16  ...       0.091045      31.612198
V28     284807.0 -1.206049e-16  ...       0.078280      33.847808
Amount  284807.0  8.834962e+01  ...      77.165000   25691.160000
Class   284807.0  1.727486e-03  ...       0.000000       1.000000

[31 rows x 8 columns]

In [6]:
df.columns = map(str.lower, df.columns)

In [7]:
df["class"].value_counts()

0    284315
1       492
Name: class, dtype: int64

In [8]:
## going to use SMOTE for inbalanced data
## super clean dataset

In [10]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [11]:
target = "class"
X = df.drop(target, axis=1)
y = df[target]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

In [14]:
smote = SMOTE()
Xs_train, yls_train = smote.fit_resample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [16]:

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(Xs_train, yls_train)
print(str(model.score(Xs_train, yls_train))) 
print(str(model.score(X_test, y_test)))

1.0
0.9993960843796522