In [1]:
import pandas as pd

In [2]:
pd.set_option("max.columns", None)
pd.set_option("max.rows", None)

In [3]:
df_dog = pd.read_csv("data/dogs.csv")

In [4]:
df_cat = pd.read_csv("data/cats.csv")

In [5]:
df_dog.head(1)

,Unnamed: 0,animal id,name_x,datetime_x,monthyear_x,found location,intake type,intake condition,animal type_x,sex upon intake,age upon intake,breed_x,color_x,name_y,datetime_y,monthyear_y,date of birth,outcome type,outcome subtype,animal type_y,sex upon outcome,age upon outcome,breed_y,color_y
0,0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,*Brock,01/08/2019 03:11:00 PM,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor

In [6]:
del df_dog["Unnamed: 0"]

In [7]:
df_dog.describe()

,animal id,name_x,datetime_x,monthyear_x,found location,intake type,intake condition,animal type_x,sex upon intake,age upon intake,breed_x,color_x,name_y,datetime_y,monthyear_y,date of birth,outcome type,outcome subtype,animal type_y,sex upon outcome,age upon outcome,breed_y,color_y
count,59404,47503,59404,59404,59404,59404,59404,59404,59403,59404,59404,59404,47280,59132,59132,59132,59120,20485,59132,59131,59132,59132,59132
unique,59404,14037,47445,47445,31112,5,10,1,5,48,2326,372,13985,52998,52998,6668,8,20,1,5,48,2320,372
top,A682471,Max,09/01/2017 02:47:00 PM,09/01/2017 02:47:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull Mix,Black/White,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White
freq,1,384,47,47,10819,42839,53444,59404,21241,10838,6442,6905,384,27,27,57,27434,14265,59132,23799,10997,6405,6858

In [8]:
df_dog["outcome type"].value_counts()

Adoption           27434
Return to Owner    15078
Transfer           14269
Euthanasia          1639
Rto-Adopt            395
Died                 248
Disposal              35
Missing               22
Name: outcome type, dtype: int64

In [9]:
df_dog["intake type"].value_counts()

Stray                 42839
Owner Surrender       11271
Public Assist          4970
Euthanasia Request      177
Abandoned               147
Name: intake type, dtype: int64

In [10]:
df_dog["intake condition"].value_counts()

Normal      53444
Injured      2696
Sick         1554
Nursing      1144
Aged          341
Other         115
Pregnant       49
Medical        38
Behavior       14
Feral           9
Name: intake condition, dtype: int64

In [11]:
df_dog["sex upon intake"].value_counts()

Intact Male      21241
Intact Female    18981
Neutered Male    10154
Spayed Female     8573
Unknown            454
Name: sex upon intake, dtype: int64

In [12]:
df_dog["age upon intake"].value_counts()

1 year       10838
2 years      10826
3 years       4488
1 month       3885
2 months      2979
4 years       2777
5 years       2544
6 years       1738
4 months      1587
5 months      1566
7 years       1482
8 years       1422
3 months      1325
9 months      1205
10 years      1173
6 months      1131
7 months      1106
8 months       869
9 years        842
10 months      633
12 years       535
11 months      518
4 weeks        479
11 years       476
13 years       346
0 years        311
3 weeks        279
14 years       248
1 day          247
1 week         228
2 weeks        209
15 years       195
1 weeks        182
2 days         136
3 days         129
4 days         116
16 years        89
5 weeks         84
6 days          55
17 years        42
5 days          40
18 years        21
19 years        15
20 years         4
24 years         1
23 years         1
-1 years         1
-3 years         1
Name: age upon intake, dtype: int64

In [13]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("-", "")
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("0 years", "1 year")
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("1 years", "1 year")

In [14]:
## changing age - if less than 6 weeks
for i in df_dog["age upon intake"]:
    for z in range(1,7):
        if i == str(z) + " weeks":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " week":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " day":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " days":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")

In [15]:
## changing age - if b/n 6 weeks and less than 1 year
for i in df_dog["age upon intake"]:
    for z in range(1,12):
        if i == str(z) + " months":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "between 6 weeks and < 1 year")
        if i == str(z) + " month":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "between 6 weeks and < 1 year")

In [16]:
df_dog = pd.read_csv("data/clean_dogs.csv")

In [17]:
# changing age - if dogs >9 years
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("19 years", "11 year")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("9 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("10 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("11 year", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("12 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("13 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("14 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("15 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("16 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("17 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("18 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("20 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("21 year", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("22 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("23 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("24 years", "> 9 years")

In [18]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("> >", ">")

In [19]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("between 6 weeks and 1 year", "between 6 weeks and < 1 year")

In [20]:
df_dog["age upon intake"].value_counts()

between 6 weeks and < 1 year    16804
1 year                          11150
2 years                         10826
3 years                          4489
> 9 years                        3988
4 years                          2777
5 years                          2544
< 6 weeks                        2184
6 years                          1738
7 years                          1482
8 years                          1422
Name: age upon intake, dtype: int64

In [21]:
df_dog.head()

,Unnamed: 0,Unnamed: 0.1,animal id,name_x,datetime_x,monthyear_x,found location,intake type,intake condition,animal type_x,sex upon intake,age upon intake,breed_x,color_x,name_y,datetime_y,monthyear_y,date of birth,outcome type,outcome subtype,animal type_y,sex upon outcome,age upon outcome,breed_y,color_y
0,0,0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,*Brock,01/08/2019 03:11:00 PM,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,1,1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Belle,07/05/2015 03:13:00 PM,07/05/2015 03:13:00 PM,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,2,2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,between 6 weeks and < 1 year,Basenji Mix,Sable/White,Runster,04/21/2016 05:17:00 PM,04/21/2016 05:17:00 PM,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,3,3,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Rio,07/02/2014 02:16:00 PM,07/02/2014 02:16:00 PM,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
4,4,4,A743852,Odin,02/18/2017 12:46:00 PM,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,Odin,02/21/2017 05:44:00 PM,02/21/2017 05:44:00 PM,02/18/2015,Return to Owner,NaN,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate

In [63]:
df_dog["sex upon intake"].value_counts()

Intact Male      21241
Intact Female    18981
Neutered Male    10154
Spayed Female     8573
Unknown i          454
nan                  1
Name: sex upon intake, dtype: int64

In [42]:
df_dog["sex upon intake"] = df_dog["sex upon intake"].astype(str)

In [64]:
df_dog["sex upon intake"] = df_dog["sex upon intake"].replace("Unknown", "Unknown i")
df_dog["sex upon intake"] = df_dog["sex upon intake"].replace("nan", "Unknown i")

In [52]:
a_list = []
for i in df_dog["sex upon intake"]:
    a_list.append(i.split()[0])

In [53]:
df_dog["spayed/neutered"] = a_list

In [58]:
df_dog["spayed/neutered"].value_counts()

Intact      40222
Neutered    10154
Spayed       8573
Unknown       455
Name: spayed/neutered, dtype: int64

In [57]:
df_dog["spayed/neutered"] = df_dog["spayed/neutered"].replace("nan", "Unknown")

In [65]:
a_list = []
for i in df_dog["sex upon intake"]:
    a_list.append(i.split()[1])

In [66]:
df_dog["sex upon intake"] = a_list

In [67]:
df_dog["sex upon intake"].value_counts()

Male      31395
Female    27554
i           455
Name: sex upon intake, dtype: int64

In [69]:
df_dog["sex upon intake"] = df_dog["sex upon intake"].replace("i", "unknown")

In [70]:
df_dog["sex"] = df_dog["sex upon intake"]

In [71]:
df_dog["sex"].value_counts()

Male       31395
Female     27554
unknown      455
Name: sex, dtype: int64

In [85]:
df_dog.head(1)

,animal id,intake type,intake condition,age upon intake,outcome type,spayed/neutered,sex,breed,color
0,A786884,Stray,Normal,2 years,Transfer,Neutered,Male,Beagle Mix,Tricolor

In [84]:
df_dog["breed_x"] = df_dog["breed"]
df_dog["color_x"] = df_dog["color"]

In [76]:
#del df_dog["breed_x"]
#del df_dog["color_x"]
#del df_dog["age upon outcome"]
#del df_dog["breed_y"]
#del df_dog["color_y"]
#del df_dog["sex upon intake"]
#del df_dog["date of birth"]
#del df_dog["outcome subtype"]
#del df_dog["sex upon outcome"]
#del df_dog["Unnamed: 0"]
#del df_dog["Unnamed: 0.1"]
#del df_dog["name_x"]
#del df_dog["datetime_x"]
#del df_dog["monthyear_x"]
#del df_dog["found location"]
#del df_dog["animal type_x"]
#del df_dog["name_y"]
#del df_dog["datetime_y"]
#del df_dog["monthyear_y"]
#del df_dog["animal type_y"]

In [86]:
df_dog.to_csv("data/model_outcome_type.csv")