In [1]:
import pandas as pd

In [2]:
pd.set_option("max.columns", None)
pd.set_option("max.rows", None)

In [3]:
df_dog = pd.read_csv("data/dogs.csv")

In [4]:
df_cat = pd.read_csv("data/cats.csv")

In [5]:
df_dog.head(1)

,Unnamed: 0,animal id,name_x,datetime_x,monthyear_x,found location,intake type,intake condition,animal type_x,sex upon intake,age upon intake,breed_x,color_x,name_y,datetime_y,monthyear_y,date of birth,outcome type,outcome subtype,animal type_y,sex upon outcome,age upon outcome,breed_y,color_y
0,0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,*Brock,01/08/2019 03:11:00 PM,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor

In [6]:
del df_dog["Unnamed: 0"]

In [7]:
df_dog.describe()

,animal id,name_x,datetime_x,monthyear_x,found location,intake type,intake condition,animal type_x,sex upon intake,age upon intake,breed_x,color_x,name_y,datetime_y,monthyear_y,date of birth,outcome type,outcome subtype,animal type_y,sex upon outcome,age upon outcome,breed_y,color_y
count,59404,47503,59404,59404,59404,59404,59404,59404,59403,59404,59404,59404,47280,59132,59132,59132,59120,20485,59132,59131,59132,59132,59132
unique,59404,14037,47445,47445,31112,5,10,1,5,48,2326,372,13985,52998,52998,6668,8,20,1,5,48,2320,372
top,A705220,Max,09/01/2017 02:47:00 PM,09/01/2017 02:47:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull Mix,Black/White,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White
freq,1,384,47,47,10819,42839,53444,59404,21241,10838,6442,6905,384,27,27,57,27434,14265,59132,23799,10997,6405,6858

In [8]:
df_dog["outcome type"].value_counts()

Adoption           27434
Return to Owner    15078
Transfer           14269
Euthanasia          1639
Rto-Adopt            395
Died                 248
Disposal              35
Missing               22
Name: outcome type, dtype: int64

In [9]:
df_dog["intake type"].value_counts()

Stray                 42839
Owner Surrender       11271
Public Assist          4970
Euthanasia Request      177
Abandoned               147
Name: intake type, dtype: int64

In [10]:
df_dog["intake condition"].value_counts()

Normal      53444
Injured      2696
Sick         1554
Nursing      1144
Aged          341
Other         115
Pregnant       49
Medical        38
Behavior       14
Feral           9
Name: intake condition, dtype: int64

In [11]:
df_dog["sex upon intake"].value_counts()

Intact Male      21241
Intact Female    18981
Neutered Male    10154
Spayed Female     8573
Unknown            454
Name: sex upon intake, dtype: int64

In [12]:
df_dog["age upon intake"].value_counts()

1 year       10838
2 years      10826
3 years       4488
1 month       3885
2 months      2979
4 years       2777
5 years       2544
6 years       1738
4 months      1587
5 months      1566
7 years       1482
8 years       1422
3 months      1325
9 months      1205
10 years      1173
6 months      1131
7 months      1106
8 months       869
9 years        842
10 months      633
12 years       535
11 months      518
4 weeks        479
11 years       476
13 years       346
0 years        311
3 weeks        279
14 years       248
1 day          247
1 week         228
2 weeks        209
15 years       195
1 weeks        182
2 days         136
3 days         129
4 days         116
16 years        89
5 weeks         84
6 days          55
17 years        42
5 days          40
18 years        21
19 years        15
20 years         4
23 years         1
-1 years         1
-3 years         1
24 years         1
Name: age upon intake, dtype: int64

In [13]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("-", "")
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("0 years", "1 year")
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("1 years", "1 year")

In [14]:
## changing age - if less than 6 weeks
for i in df_dog["age upon intake"]:
    for z in range(1,7):
        if i == str(z) + " weeks":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " week":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " day":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")
        if i == str(z) + " days":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "< 6 weeks")

In [15]:
## changing age - if b/n 6 weeks and less than 1 year
for i in df_dog["age upon intake"]:
    for z in range(1,12):
        if i == str(z) + " months":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "between 6 weeks and < 1 year")
        if i == str(z) + " month":
            df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace(str(i), "between 6 weeks and < 1 year")

In [16]:
df_dog = pd.read_csv("data/clean_dogs.csv")

In [17]:
# changing age - if dogs >9 years
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("19 years", "11 year")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("9 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("10 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("11 year", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("12 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("13 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("14 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("15 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("16 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("17 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("18 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("20 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("21 year", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("22 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("23 years", "> 9 years")
df_dog["age upon intake"] =  df_dog["age upon intake"].str.replace("24 years", "> 9 years")

In [18]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("> >", ">")

In [19]:
df_dog["age upon intake"] = df_dog["age upon intake"].str.replace("between 6 weeks and 1 year", "between 6 weeks and < 1 year")

In [20]:
df_dog["age upon intake"].value_counts()

between 6 weeks and < 1 year    16804
1 year                          11150
2 years                         10826
3 years                          4489
> 9 years                        3988
4 years                          2777
5 years                          2544
< 6 weeks                        2184
6 years                          1738
7 years                          1482
8 years                          1422
Name: age upon intake, dtype: int64