In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/data/wfp_food_prices_database.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(1)

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN

[1 rows x 18 columns]

In [5]:
df["cur_name"].value_counts()

XOF    206693
RWF    134089
INR    108279
SYP     82598
KGS     54899
        ...
VND       257
AZN       125
ERN       100
GEL        80
VEF         6
Name: cur_name, Length: 83, dtype: int64

In [6]:
df["adm0_name"].value_counts()

Rwanda                  134089
Bassas da India         108279
Syrian Arab Republic     82598
Mali                     58173
Kyrgyzstan               54899
                         ...
Azerbaijan                 125
Eritrea                    100
Georgia                     80
Venezuela                    6
Italy                        1
Name: adm0_name, Length: 99, dtype: int64

In [7]:
df["pt_name"].value_counts()

Retail       1417492
Wholesale     142147
Farm Gate        664
Producer         248
Name: pt_name, dtype: int64

In [8]:
df["um_name"].value_counts()

KG         1137377
L           108755
100 KG       41285
Unit         28233
Day          13165
            ...
16 KG           53
360 pcs         52
800 G           16
Heap            10
2.5 KG           8
Name: um_name, Length: 117, dtype: int64

In [10]:
df_rwanda = df[df["adm0_name"] == "Rwanda"]

In [11]:
df_rwanda

         adm0_id adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
1077086    205.0    Rwanda     2587  ...    2010  107.5000                NaN
1077087    205.0    Rwanda     2587  ...    2010  121.6667                NaN
1077088    205.0    Rwanda     2587  ...    2010  108.7500                NaN
1077089    205.0    Rwanda     2587  ...    2010  177.5000                NaN
1077090    205.0    Rwanda     2587  ...    2010  181.2500                NaN
...          ...       ...      ...  ...     ...       ...                ...
1211170    205.0    Rwanda    21973  ...    2019  200.0000                NaN
1211171    205.0    Rwanda    21973  ...    2019  150.0000                NaN
1211172    205.0    Rwanda    21973  ...    2019  250.0000                NaN
1211173    205.0    Rwanda    21973  ...    2019  150.0000                NaN
1211174    205.0    Rwanda    21973  ...    2020  150.0000                NaN

[134089 rows x 18 columns]

In [12]:
df_rwanda["pt_name"].value_counts()

Retail       133483
Wholesale       606
Name: pt_name, dtype: int64

In [14]:
df_rwanda["um_id"].value_counts()

5     116737
33     10485
15      3462
31      2799
18       606
Name: um_id, dtype: int64