In [1]:
import pandas as pd

In [133]:
df = pd.read_csv("data/long_columns_df")
df_1 = pd.read_csv("data/clean_lotto_max_data.csv")

In [127]:
df_1["past_numbers"].value_counts()

2     606
24    600
39    596
11    595
9     595
12    590
20    589
22    584
3     583
48    581
18    579
4     579
6     577
44    575
8     575
15    575
19    573
16    573
32    569
7     569
5     565
28    564
49    562
17    562
37    562
10    561
33    560
21    559
47    557
23    557
45    556
42    556
36    555
34    554
35    553
30    553
38    551
41    550
25    548
40    546
13    545
27    544
14    543
43    541
31    539
46    536
29    530
26    529
1     526
50     93
Name: past_numbers, dtype: int64

In [130]:
#dfs = []
#def some_function():
#    for i in range(7, 27720, 7):
#        dfs.append("df"+"['shift"+str(i)+"']" + " = " + "df"+"['past_numbers'" + "]" +".shift(" +str(i) + ")" )
        
#some_function()

#for i in dfs:
#    print(i)

#df = df.dropna()

#df.to_csv("data/lotto_max_all_columns.csv")

In [138]:
len(df)

7

In [144]:
df.mean(axis=1)

27713    43.813131
27714    37.421970
27715    31.185859
27716    24.883838
27717    18.626263
27718    12.395202
27719     6.132828
dtype: float64

In [145]:
df.mode(axis=1)

          0
27713  49.0
27714  44.0
27715  32.0
27716  25.0
27717  15.0
27718   9.0
27719   2.0